@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
$yellowColor: #ffe919;
$blackColor: black;
$whiteColor: white;
$fontFamily: "Orbitron", sans-serif;
$fontSize: 1em;
$marginGrid: 10px;
$breakPointTablet: 768px;
$breakPointDesktop: 1140px;

