@import 'variables';

.logo {
  border-bottom: 2px solid $whiteColor;
  margin-bottom: 20px;
}

nav {
  .personajes li {
    cursor: pointer;
    color: $whiteColor;
    font-weight: 700;
    padding: 10px;
    transition: 0.5s;

    &:hover {
      background-color: $yellowColor;
      color: $blackColor;
    }
  }

  .botones {
    display: flex;
    justify-content: space-between;
    
    div {
      width: 100%;
      margin: 0 2%;
      border: 1px solid $yellowColor;
      color: $yellowColor;
      padding: 10px;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.5s;
      &:hover {
        border: 1px solid $blackColor;
        color: $blackColor;
        background-color: $yellowColor;
      }
    }
  }
}
