<figure class="logo">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1280px-Star_Wars_Logo.svg.png" alt="StarWars">
</figure>
<nav>
  <ul class="personajes">
    <li>Luke Skywalker</li>
    <li>Luke Skywalker</li>
    <li>Luke Skywalker</li>
    <li>Luke Skywalker</li>
    <li>Luke Skywalker</li>
  </ul>
  <div class="botones">
    <div>PREV</div>
    <div>NEXT</div>
  </div>
</nav>
