<section class="personView">
  <h2>Character's name:</h2>
  <ul>
    <li>Height:<span></span> </li>
    <li>Mass:<span></span> </li>
    <li>Skin color:<span></span> </li>
    <li>Hair color:<span></span> </li>
    <li>Gender:<span></span> </li>
    <li>Birth year:<span></span> </li>
  </ul>
  <hr />
  <nav>
    <ul class="submenu">
      <li>Films</li>
      <li>Vehicles</li>
      <li>Planets</li>
    </ul>
  </nav>
  <aside>
    <h2>Films:</h2>
    <div class="grid">
      <article class="col-12 col-t-6 col-d-3">
        <h3>Title</h3>
        <ul>
          <li>Episode:</li>
          <li>Director:</li>
          <li>Release date:</li>
        </ul>
      </article>
    </div>
  </aside>
</section>
